.wrapper{
    display:  flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selectionBtn{
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #614101;
    color: #ffffff;
}

.accordian{
    width: 500px;
}

.item{
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #ffffff;
    height: auto;
}